.container {
  background-color: rgb(255, 255, 255);
}

.headerContainer {
  justify-content: center;
  background-color: rgb(233, 233, 233);
}

.main {
  text-align: center;
}

.header {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(221, 221, 221);
}

.secciones {
  display: flex;
}

.secciones a {
  padding: 2rem;
  font-size: 1rem;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex {
  
  display: flex;
  flex-direction: row;
}

.presentacion {

}

.quienesSomos {

}

.quienesSomosTexto {
  font-size: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 700px;
  margin: 0;
}

.imagen {
  border: black 1px solid !important;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.imagenContainer {
  padding: 1rem !important;
}

.cardsContainer {
  padding: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color:rgb(218, 224, 226);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.contactContainer {
  padding: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.contactCard {
  background-color:rgb(218, 224, 226);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 1rem;
}

.footer  {
  display: flex;
  justify-content: center;

}

.footer p {
  padding: 2rem;
  font-size: 2rem
}

@media (max-width: 600px) {
  .burguerNav {
    display: block;
    padding-top: 10px;
    padding-right: 10px;
  }

  .menu {
    fill: black;
  }

  .secciones {
    flex-direction: column;
    display: none;
  } 
  
  .secciones a {
    font-size: 2rem;
    border-bottom: black 1px solid;
  } 

  .header {
    flex-direction: column;
  }

  .flexrow {
    flex-direction: column;
  }

  .flex {
    display: flex;
    flex-direction: column; 
    align-self: center;
  }

  .cardsContainer {
    padding: 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
  }
}